html {
  background-color: #1f1f1f;
}

.video-container {
    height: 500px;
    width: auto;
    overflow: hidden;
    position: relative;
    text-align: center;
  }
  
  .video-container video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  
  /* Just styling the content of the div, the *magic* in the previous rules */
  .video-container .caption {
    z-index: 1;
    position: relative;
    text-align: center;
    color: #dc0000;
    padding: 10px;
  }

  #pauseButton {
    position: absolute;
    bottom: -10px;
    left: 10px;
    z-index: 1; /* Assure que le bouton est au-dessus de la vidéo */
}

  nav {
    background-color: #181818;
    color: #fff;
    padding: 25px;
    left: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

li {
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

a:hover {
    color: #ecf0f1;
}

footer {
  background-color: #181818;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
